<div class="col-12">
	<h2 class>Features</h2>
	<section class="row">
		<figure class="col-4 center">
			<img src="/images/300x150.png" alt="template">
		</figure>
		<figure class="col-4 center">
			<%= image_tag("300x150.png", alt: "template") %>
		</figure>
		<figure class="col-4 center">
			<%= image_tag("/images/300x150.png", alt: "template") %>
		</figure>
	</section>
</div>
