<section class="col-12">
	<section class="main">
		<figure>
			<%= image_tag("1600x500-1024x320.png", alt: "template", :class => "brand") %>
		</figure>
	</section>

	<section class="slider">
		<h2>Slider</h2>
	</section>

	<section class="features">
		<h2>Features</h2>
		<figure class="feature">
			<img src="/images/300x150.png" alt="template">
			<button>Action</button>
		</figure>
		<figure class="feature">
			<%= image_tag("300x150.png", alt: "template") %>
		</figure>
		<figure class="feature">
			<%= image_tag("/images/300x150.png", alt: "template") %>
		</figure>
	</section>
	
	<section class="details">
		<h2>Details</h2>
	</section>

	<section class="contact">
		<h2>Contact form</h2>
	</section>
</section>