<div class="col-12 footer box-padding" style="z-index: 10000;">
	<span>&nbsp;</span>
	<p>
		&copy; Conected 2016
		<br>
		Ésta web está en fase de construcción, y con propósitos informativos, destinada a la recopilación de contenido escogido y traducido al Español del Inglés.
		<br>
		This web it's on construction, and it's with informative purposes, destined to content compilation selected and translated to Spanish from English.
	</p>
	<span>&nbsp;</span>
</div>