<nav id="menu">
	<ul class="row navitems">
		<a href="<%= root_path %>" class="navitem col brand">
			<li>Conected</li>
		</a>
		<a href="<%= root_path %>" class="navitem col active">
			<li>Home</li>
		</a>
		<a href="" class="navitem col">
			<li>Cursos</li>
		</a>
		<a href="" class="navitem col">
			<li>Tutoriales</li>
		</a>
		<a href="<%= price_path %>" class="navitem col">
			<li>Precios</li>
		</a>
		<a href="" class="navitem col">
			<li>Blog</li>
		</a>
	</ul>
</nav>