<div class="br-post">
	<h1>Editar post</h1>

	<p><%= link_to 'Regresar', post_path(@post) %></p>

	<%= render 'form', post: @post %>

	<p><%= link_to 'Eliminar post', @post, method: :delete, data: {confirm: "¿Estás seguro?"} %></p>
</div>