@import url('https://fonts.googleapis.com/css?family=Delius+Unicase:700|Open+Sans|Tangerine');
/*
    font-family: 'Tangerine', cursive;
    font-family: 'Delius Unicase', cursive;
    font-family: 'Open Sans', sans-serif;
*/
*{box-sizing: border-box;}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

/*
	GENERAL STYLES
*/

/*---MENU NAVIGATION---*/
header{margin-bottom: 70px;}
#menu{
	background-color: #4286FF;
	text-align: center;
	color: white;
	width: 100%;
	position: absolute;
	left: 0;
}
ul.navitems{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.navitems li{
	padding: 12px 0;
}
ul.navitems a.navitem{
	text-decoration: none!important;
	height: 100%;
	color: #fff;
}
a.navitem:hover{
	background-color: rgba(0,0,0,0.25);
}
.brand{
	font-family: "Delius Unicase";
	font-weight: 700;
}
.active{background-color: rgba(0,0,0,0.25);}

/*---TEXT-FORMAT---*/
article{
	background-color: #fff;
	box-sizing: border-box;
	padding: 15px 25px;
}

/*---FOOTER---*/
footer{height: 50px; padding: 10px 0; font-size: 12pt;}

/*
	FLEXBOX
*/
.container, .container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0rem;
  margin-left: 0rem;
}

[class*="col"]{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  overflow: auto;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-1{
	-ms-flex-preferred-size: 8.33333333%;
	flex-basis: 8.33333333%;
	max-width: 8.33333333%;
}
.col-2{
	-ms-flex-preferred-size: 16.66666667%;
	flex-basis: 16.66666667%;
	max-width: 16.66666667%;
}
.col-3{
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%;
}
.col-4{
	-ms-flex-preferred-size: 33.33333333%;
	flex-basis: 33.33333333%;
	max-width: 33.33333333%;
}
.col-5{
	-ms-flex-preferred-size: 41.66666667%;
	flex-basis: 41.66666667%;
	max-width: 41.66666667%;
}
.col-6{
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
}
.col-7{
	-ms-flex-preferred-size: 58.33333333%;
	flex-basis: 58.33333333%;
	max-width: 58.33333333%;
}
.col-8{
	-ms-flex-preferred-size: 66.66666667%;
	flex-basis: 66.66666667%;
	max-width: 66.66666667%;
}
.col-9{
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%;
}
.col-10{
	-ms-flex-preferred-size: 83.33333333%;
	flex-basis: 83.33333333%;
	max-width: 83.33333333%;
}
.col-11{
	-ms-flex-preferred-size: 91.66666667%;
	flex-basis: 91.66666667%;
	max-width: 91.66666667%;
}
.col-12{
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
}
/*
	RESPONSIVE LAYOUT
*/
@media all and (min-width: 1700px){}